<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>

<body style="background-color:whitesmoke">
<h1 style="background-color:darkcyan;text-align:center;margin:auto;color:#8df8bb;font-family: sans-serif;padding:20px">Maksimum maosh oladigan xodimlar</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Job</th>
        </tr>
    </thead>

    <tbody>
        {% for max in max_salary %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'deps-list' employee_id=max.employee_id%}" >{{max.first_name}}</a></td>
            <td>{{max.salary}}</td>
            <td>{{max.job.job_title}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


<a href="/" class="button">main</a>
</body>
</html>